# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
.venv/
venv/
env/

# Playwright session (your IG login cookies)
.ig_session/

# OS files
.DS_Store
Thumbs.db

# Logs & outputs
*.log
*.csv
*.json
*.jsonl
*.png
